@model IEnumerable<TestPlantilla.Models.Automovil>

<div class="container">
    <table class="table table-striped table-hover table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Folio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoTransmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estetica)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Folio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoTransmision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estetica)
                </td>
            </tr>
        }
    </table>
</div>

